<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.16/marked.min.js"></script>
</head>
<body>
  <div style="display:block" class="container">
    <header>
      <h1><%= title %></h1>
      <button class="add-btn" onclick="openAddTaskModal()">Add Task</button>
      <div class="user-info">
        <span class="username" onclick="toggleDropdown()"><%= user.username %></span>
        <div id="dropdown" class="dropdown">
          <div class="dropdown-content">
            <a href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </header>
    <ul id="task-list">
      <% tasks.forEach(task => { %>
        <% const priorityClass = task.priority ? task.priority.toLowerCase() + '-mark' : 'default-mark'; %>
        <li class="task-card <%= priorityClass %>" data-id="<%= task._id %>" onclick="openDetailModal('<%= task._id %>', '<%= encodeURIComponent(task.title) %>', '<%= encodeURIComponent(task.content) %>', '<%= task.priority %>')">
          <div class="task-flex">
            <div class="task-content" id="task-title-<%= task._id %>" data-markdown="<%= encodeURIComponent(task.title) %>"></div>
            <div class="dropdown">
              <button class="dropdown-btn" onclick="toggleTaskDropdown(event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#000000" d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2s2-.9 2-2s-.9-2-2-2m0-6c-1.1 0-2 .9-2 2s.9 2 2 2s2-.9 2-2s-.9-2-2-2m0 12c-1.1 0-2 .9-2 2s.9 2 2 2s2-.9 2-2s-.9-2-2-2"/></svg>
              </button>
              <div class="dropdown-content">
                <a href="#" onclick="event.stopPropagation(); openEditModal('<%= task._id %>', '<%= encodeURIComponent(task.title) %>', '<%= encodeURIComponent(task.content) %>', '<%= task.priority %>')">Update</a>
                <a class="delete-task" onclick="event.stopPropagation(); deleteTask('<%= task._id %>')">Delete</a>
              </div>
            </div>
          </div>
          <div class="task-priority">Priority: <%= task.priority %></div>
        </li>
      <% }) %>
    </ul>
        <p class="nothing" style="display: none;">NOTHING</p>
  </div>

  <div id="addTaskModal" class="modal">
    <div class="modal-content">
      <div class="modal-task">
        Create Task
        <span class="close-btn" onclick="closeModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#000000" d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z"/></svg>
        </span>
      </div>
      <form id="addTaskForm" action="/add" method="POST" onsubmit="submitAddTaskForm()">
        <div class="tasks-flex">
          <div style="width: -webkit-fill-available;">
            <p class="task-p">Briefly about the task</p>
            <input class="title-input" type="text" id="task-title-input" name="title" placeholder="Task Title" required />
          </div>
          <div style="width: -webkit-fill-available;">
            <p class="task-p">Choose a priority</p>
            <div class="custom-select-wrapper">
              <div class="custom-select">
                <span class="select-selected">High</span>
                <div class="select-items select-hide">
                  <div data-value="High">High</div>
                  <div data-value="Medium">Medium</div>
                  <div data-value="Low">Low</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" id="task-priority-input" name="priority" value="High" />
        <div>
          <p class="task-p">Task description</p>
          <textarea class="task-text" id="task-content-input" name="content" placeholder="Task Content" required></textarea>
        </div>
        <button class="task-add-btn" type="submit">Add Task</button>
      </form>
    </div>
  </div>

  <div id="taskModal" class="modal">
    <div class="modal-content">
      <div style="margin-bottom: 10px;" class="modal-task">
        Preview Task
        <span class="close-btn" onclick="closeModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#000000" d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z"/></svg>
        </span>
      </div>
      <div class="modal-text">
      <div class="modal-task-text" id="modal-task-title"></div>
      <hr class="modal-hr">
      <div class="modal-task-text" id="modal-task-content"></div>
      <hr class="modal-hr">
      <div class="modal-task-text" id="modal-task-priority"></div>
      </div>
    </div>
  </div>

        <div id="editModal" class="modal">
          <div class="modal-content">
            <div class="modal-task">
              Edit Task
              <span class="close-btn" onclick="closeModal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#000000" d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z"/></svg>
              </span>
            </div>
            <form id="editTaskForm" action="" method="POST" onsubmit="submitEditTaskForm(event)">
              <div class="tasks-flex">
                <div style="width: -webkit-fill-available;">
                  <p class="task-p">Briefly about the task</p>
                  <input id="edit-task-title" name="title" required />
                </div>
                <div style="width: -webkit-fill-available;">
                  <p class="task-p">Choose a priority</p>
                  <div class="custom-select-wrapper">
                    <div class="custom-select">
                      <span class="select-selected">High</span>
                      <div class="select-items select-hide">
                        <div data-value="High">High</div>
                        <div data-value="Medium">Medium</div>
                        <div data-value="Low">Low</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input type="hidden" id="edit-task-priority-input" name="priority" value="High" />
              <div>
                <p class="task-p">Task description</p>
                <textarea class="task-text" id="edit-task-content" name="content" required></textarea>
              </div>
              <button class="task-add-btn" type="submit">Update Task</button>
              <div id="loader" class="loader" style="display:none;"></div>
            </form>
          </div>
        </div>

  <script src="/scripts.js"></script>
</body>
</html>